@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aileron Font Faces */
@font-face {
    font-family: 'Aileron';
    src: url('./src/assets/aileron/Aileron-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('./src/assets/aileron/Aileron-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Aileron';
    src: url('./src/assets/aileron/Aileron-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('./src/assets/aileron/Aileron-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Aileron';
    src: url('./src/assets/aileron/Aileron-Heavy.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('./src/assets/aileron/Aileron-HeavyItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Aileron';
    src: url('./src/assets/aileron/Aileron-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Aileron';
    src: url('./src/assets/aileron/Aileron-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('./src/assets/aileron/Aileron-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Aileron';
    src: url('./src/assets/aileron/Aileron-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('./src/assets/aileron/Aileron-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('./src/assets/aileron/Aileron-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Aileron';
    src: url('./src/assets/aileron/Aileron-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('./src/assets/aileron/Aileron-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Aileron';
    src: url('./src/assets/aileron/Aileron-UltraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('./src/assets/aileron/Aileron-UltraLightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}


body {
    font-family: "Aileron";
}